{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-redom-jsx",
    [
      "transform-react-jsx",
      {
        "pragma": "el"
      }
    ]
  ]
}
