.account {
  display: grid;
  grid-template-columns: 85fr 100fr;
  gap: 50px;

  .bg-grey,
  .bg-white {
    padding: 25px 50px;
  }

  &__title {
    grid-area: 1/1/1/-1;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
  }

  &__balance {
    display: flex;
    column-gap: 50px;
    grid-area: 1/1/1/-1;
    align-items: center;
    justify-self: end;
    font-size: 20px;
    z-index: 2;
  }

  &.detail &__bar-chart {
    grid-column: 1/3;
  }

  &__history {
    grid-column: 1/3;
  }
}
