.currencies {
  $pad: 50px;
  display: grid;
  grid-template-columns: 45fr 55fr;
  gap: 44px 49px;
  font-family: var(--font-work);
  font-size: 20px;
  color: var(--color-black);

  &__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: inherit;
  }

  &__block {
    border-radius: 50px;
    padding: $pad;
    background-color: var(--color-white);
    box-shadow: var(--shadow);


    &_grey {
      background-color: #e5e5e5;
      box-shadow: none;
    }
  }

  &__strim {
    grid-row: span 2;
  }

  .your {

    &.skeleton {
      $height: 23px;
      $gap: 25px;
      $width: calc(100% - $pad * 2);
      $offset: calc($height + $gap);
      height: 411px;
      @include animateSkeleton();

      background-repeat: no-repeat;
      background-image:
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0);
      background-size:
        165px $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height;
      background-position:
        $pad $pad,
        $pad calc($pad + $offset * 1),
        $pad calc($pad + $offset * 2),
        $pad calc($pad + $offset * 3),
        $pad calc($pad + $offset * 4),
        $pad calc($pad + $offset * 5),
        $pad calc($pad + $offset * 6);
    }
  }
}
