.form-transfer {
  &__field {
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: minmax(97px, 1fr) minmax(150px, 275px);
    grid-template-rows: repeat(2, 44px) 52px;
    gap: 25px 18px;
  }

  &__lbl {
    font-weight: 500;
    align-self: center;
    text-align: end;
  }

  &__group {
    position: relative;
  }

  &__inp {
    width: 100%;
  }

  &__error {
    font-size: 12px;
    color: var(--color-error);
  }

  &__dropdown {
    position: absolute;
    z-index: 10;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 7px;
    background-color: var(--color-white);

    &-btn {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 16px 10px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        background-color: rgba(160, 195, 255, 0.1);
      }
    }

  }

  &__btn {
    justify-self: start;
    grid-area: 3/2;
  }
}
