.history {

  &.skeleton {
    height: 350px;
    display: flex;

    &::after {
      $padX: 50px;
      $padY: calc($padX / 2);
      $padTable: 49px;
      $padTableY: 20px;
      $hCaption: 23px;
      $hTrans: 23px;
      $marCaption: 25px;
      $wNumber: 240px;
      $wSum: 90px;
      $wDate: 90px;
      $gapX: 45px;

      content: '';
      position: absolute;
      inset: 0;
      background-repeat: no-repeat;
      background-image:
        linear-gradient(var(--color-grey5) $hCaption, transparent 0),
        linear-gradient(var(--color-grey5) $hCaption, transparent 0),
        linear-gradient(var(--color-grey5) $hCaption, transparent 0),
        linear-gradient(var(--color-grey5) $hCaption, transparent 0),

        linear-gradient(var(--color-grey5) $hCaption, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hCaption, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hCaption, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        linear-gradient(var(--color-grey5) $hTrans, transparent 0),
        // linear-gradient(var(--color-grey5) $lhTrans, transparent 0),
        // linear-gradient(var(--color-grey5) $lhTrans, transparent 0),
        // linear-gradient(var(--color-grey5) 48px, transparent 0)
      ;
      background-size:
        270px $hCaption,
        190px $hCaption,
        160px $hCaption,
        90px $hCaption,
        75px $hCaption,

        $wNumber $hTrans,
        $wNumber $hTrans,
        $wSum $hTrans,
        $wDate $hTrans,
        $wNumber $hTrans,
        $wNumber $hTrans,
        $wSum $hTrans,
        $wDate $hTrans,
        $wNumber $hTrans,
        $wNumber $hTrans,
        $wSum $hTrans,
        $wDate $hTrans,
        // 151px $lhTrans,
        // 98px $lhTrans,
        // 111px 48px
      ;
      background-position:
        $padX $padY,
        calc($padX + $padTable) calc($padY + $hCaption + $marCaption + $padTableY),
        calc($padX + $padTable + 300px) calc($padY + $hCaption + $marCaption + $padTableY),
        calc($padX + $padTable + 580px) calc($padY + $hCaption + $marCaption + $padTableY),
        calc($padX + $padTable + 710px) calc($padY + $hCaption + $marCaption + $padTableY),

        calc($padX + $padTable) calc($padY + $hCaption + $marCaption + $padTableY + 61px),
        calc($padX + $padTable + $wNumber + $gapX) calc($padY + $hCaption + $marCaption + $padTableY + 61px),
        calc($padX + $padTable + ($wNumber + $gapX) * 2) calc($padY + $hCaption + $marCaption + $padTableY + 61px),
        calc($padX + $padTable + ($wNumber + $gapX) * 2 + $wSum + $gapX) calc($padY + $hCaption + $marCaption + $padTableY + 61px),
        calc($padX + $padTable) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 2),
        calc($padX + $padTable + $wNumber + $gapX) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 2),
        calc($padX + $padTable + ($wNumber + $gapX) * 2) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 2),
        calc($padX + $padTable + ($wNumber + $gapX) * 2 + $wSum + $gapX) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 2),
        calc($padX + $padTable) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 3),
        calc($padX + $padTable + $wNumber + $gapX) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 3),
        calc($padX + $padTable + ($wNumber + $gapX) * 2) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 3),
        calc($padX + $padTable + ($wNumber + $gapX) * 2 + $wSum + $gapX) calc($padY + $hCaption + $marCaption + $padTableY + 61px * 3),
        // $pad calc(100% - $pad - $lhTrans - 2px),
        // $pad calc(100% - $pad),
        // calc(100% - $pad) calc(100% - $pad)
      ;
    }

    & .history-table__head th {
      background-color: var(--color-grey7)
    }

    @include animateSkeleton();
  }



  &__table {
    width: 100%;
    font-family: var(--font-ubuntu);
  }

  &__title {
    text-align: left;
  }
}

.history-table {
  border: none;
  border-collapse: collapse;


  &__head th {
    padding: 20px 10px;
    background-color: var(--color-primary);
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-white);

    &:first-child {
      padding-left: 49px;
      border-radius: 15px 0 0 15px;
    }

    &:last-child {
      border-radius: 0 15px 15px 0;
    }

    &:nth-child(1) {
      width: 27%;
    }

    &:nth-child(2) {
      width: 24%;
    }

    &:nth-child(3) {
      width: 10%;
    }

    &:nth-child(4) {
      width: 39%;
    }
  }

  &__body {
    tr {
      border-bottom: 2px solid rgba(0, 82, 255, 0.10);

      td {
        text-align: left;
        padding: 21px 0 26px 0;

        &:first-child {
          padding-left: 49px;
        }

        &.outgoing {
          color: var(--color-second4);
        }

        &.incoming {
          color: var(--color-success);
        }
      }
    }
  }
}
