.header {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  min-height: var(--header-height);
  box-shadow: var(--shadow);

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    width: 100%;

    @media (max-width: 760px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    font-family: var(--font-work);
    font-weight: 300;
    font-size: 48px;
    color: var(--color-white);
  }

  &__nav {
    display: flex;
    column-gap: 25px;
  }
}
