@import 'variables.scss';

@mixin animateSkeleton() {
  & {
    position: relative;
    background-color: var(--color-grey7);
    box-shadow: none;
    overflow: hidden;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 40%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0));
    animation: shimmer 2s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-ubuntu);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: var(--container-width);

  @media (min-width: 576px) {
    padding: 0 50px;
  }
}

.main-title {
  margin: 0;
  font-family: var(--font-work);
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: var(--color-black);
}

.btn {
  --fs: 16px;
  border: none;
  border-radius: 7px;
  padding: calc(1 * var(--fs)) calc(1.5 * var(--fs));
  font-family: var(--font-ubuntu);
  font-size: var(--fs);
  font-weight: 500;
  line-height: var(--fs);
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
  cursor: pointer;

  &-primary {
    color: var(--color-white);
    background-color: var(--color-primary);

    &:focus {
      outline: none;
      background-color: var(--btn-primary-hover);
    }

    &:hover {
      background-color: var(--btn-primary-hover);
    }

    &:active {
      background-color: var(--btn-primary-active);
    }

    &:disabled {
      background-color: var(--color-grey5);
      opacity: .5;
    }
  }

  &-secondary {
    color: var(--color-white);
    background-color: var(--color-second4);
  }

  &-outline {
    padding: calc(1 * var(--fs) - 4px) calc(1.5 * var(--fs) - 4px);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);

    &[aria-current='page'] {
      background-color: var(--color-info);
    }

    &:focus {
      outline: none;
      border-color: var(--btn-outline-hover-border);
      background-color: var(--btn-outline-hover);
    }

    &:hover {
      border-color: var(--btn-outline-hover-border);
      background-color: var(--btn-outline-hover);
    }

    &:active {
      background-color: var(--btn-outline-active);
    }

    &:disabled {
      border-width: 1px;
      border-color: var(--color-grey5);
      color: var(--color-grey5);
      background-color: var(--color-white);
      opacity: .5;
    }
  }

  &-icon-text {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }

  &-s {
    --fs: 14px;
  }

  &-l {
    --fs: 16px;
  }

  &-m {
    --fs: 18px;
  }

}

.inp {
  border: 1px solid var(--color-grey5);
  border-radius: 7px;
  padding: 10px;
  padding-left: 16px;
  min-height: 44px;
  font-size: 16px;
  font-weight: 400;
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;

  &::placeholder {
    color: var(--color-grey4);
    transition: color .3s;
  }

  &:disabled {
    background-color: var(--color-white);
  }

  &:disabled::placeholder {
    color: var(--color-grey5);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    background-color: rgba(160, 195, 255, 0.1);
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:hover {
    border-color: var(--color-primary);
    background-color: rgba(160, 195, 255, 0.1);
  }

  &[aria-invalid='true'] {
    border-color: var(--color-error);
    animation: shake 0.62s cubic-bezier(.36, .07, .19, .97) both;
  }

  &.success {
    border-color: var(--color-success);
  }
}

.subtitle {
  font-family: var(--font-work);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.main {
  padding: 44px 0;
}

.content-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  border-radius: 50px;
  padding: 50px 85px 50px 115px;
  background-color: var(--color-grey7);
  font-family: var(--font-ubuntu);
  font-weight: 500;

  @media (max-width: 480px) {
    padding: 25px 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 25px;
    border: none;
    padding: 0;
    text-align: start;
  }

  &__leg {
    margin-bottom: 35px;

    @media (max-width: 480px) {
      margin-bottom: 15px;
      font-size: 25px;
    }
  }

  &__grp {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;


    .error {
      position: absolute;
      left: 0;
      top: calc(100% + 2px);
      font-size: 12px;
      color: var(--color-error);
    }
  }

  &__lbl {
    position: absolute;
    top: 50%;
    right: calc(100% + 18px);
    transform: translateY(-50%);

    @media (max-width: 480px) {
      position: static;
    }
  }

  &__inp {
    min-width: 300px;

    @media (max-width: 480px) {
      min-width: auto;
    }
  }

  &__btn {
    margin-top: 5px;
  }
}

.custom-select {
  &-container {
    position: relative;
    border: 1px solid var(--color-primary);
    border-radius: 7px;
    width: 300px;

    &.is-disabled {
      opacity: .3;
    }

    & select {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 23px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: var(--color-second1) transparent transparent transparent;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &.is-open {
      &::after {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent var(--color-second1) transparent;
      }

      & .custom-select-panel {
        max-height: 152px;
      }
    }
  }

  &-opener {
    background-color: transparent;
    padding: 9px 0 9px 15px;
    display: block;
    width: 100%;
    line-height: 24px;
    cursor: pointer;
  }

  &-panel {
    position: absolute;
    top: calc(100% + 2px);
    z-index: 1;
    width: 100%;
    max-height: 0;
    border-radius: 7px;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: max-height .3s ease-in-out;
  }

  &-option {
    position: relative;
    padding: 10px 16px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color .3s ease;

    &:nth-child(2) {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    &.has-focus {
      background-color: var(--color-info);
    }

    &.is-selected::after {
      content: '';
      position: absolute;
      right: 19px;
      top: 50%;
      display: block;
      width: 15px;
      height: 8px;
      border: 2px solid var(--color-second1);
      border-top: none;
      border-right: none;
      transform: translateY(-50%) rotate(-45deg);
    }

    &[data-value=placeholder] {
      display: none;
    }
  }

  &-optgroup>&-option {
    padding-left: 2em;
  }

  &-optgroup::before {
    content: attr(data-label);
    display: block;
    padding: 0.5em;
    color: #888;
  }
}

.accounts-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  column-gap: 35px;

  &.mb-30 {
    margin-bottom: 30px;
  }

  &__btn {
    margin-left: auto;
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 70px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.card {
  $lhAmount: 22px;
  $lhBalance: 20px;
  $lhTrans: 15px;
  $gap: 9px;
  $pad: 22px;
  display: flex;
  flex-direction: column;
  row-gap: $gap;
  justify-content: space-between;
  border-radius: 9px;
  padding: $pad;
  min-height: 156px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);

  &.skeleton {
    background-repeat: no-repeat;
    background-image:
      linear-gradient(var(--color-grey5) $lhAmount, transparent 0),
      linear-gradient(var(--color-grey5) $lhBalance, transparent 0),
      linear-gradient(var(--color-grey5) $lhTrans, transparent 0),
      linear-gradient(var(--color-grey5) $lhTrans, transparent 0),
      linear-gradient(var(--color-grey5) 48px, transparent 0);
    background-size:
      270px $lhAmount,
      90px $lhBalance,
      151px $lhTrans,
      98px $lhTrans,
      111px 48px;
    background-position:
      $pad $pad,
      $pad calc($pad + $lhAmount + $gap),
      $pad calc(100% - $pad - $lhTrans - 2px),
      $pad calc(100% - $pad),
      calc(100% - $pad) calc(100% - $pad);

    @include animateSkeleton();
  }

  &__amount {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
    line-height: $lhAmount;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__balance {
    display: inline-block;
    font-size: 14px;
    line-height: $lhBalance;
  }

  &__last-transaction {
    font-family: var(--font-work);

    &-descr {
      display: block;
      font-weight: 700;
      font-size: 13px;
      line-height: $lhTrans;
    }

    &-date {
      font-weight: 400;
      font-size: 13px;
      line-height: $lhTrans;
    }
  }

  &__btn {
    padding-left: 21.5px;
    padding-right: 21.5px;
  }
}

.bg-grey,
.bg-white {
  border-radius: 50px;
}

.bg-grey,
.bg-white {
  background-color: var(--color-grey7);
}

.bg-white {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

.account {
  display: grid;
  grid-template-columns: 85fr 100fr;
  gap: 50px;

  .bg-grey,
  .bg-white {
    padding: 25px 50px;
  }

  &__top-info {
    grid-column: span 2;
  }
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-work);

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
  }

  &__balance {
    display: flex;
    column-gap: 50px;
    font-size: 20px;
  }
}

.form-transfer {
  &__field {
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: minmax(97px, 1fr) minmax(150px, 275px);
    grid-template-rows: repeat(2, 44px) 52px;
    gap: 25px 18px;
  }

  &__lbl {
    font-weight: 500;
    align-self: center;
    text-align: end;
  }

  &__group {
    position: relative;
  }

  &__inp {
    width: 100%;
  }

  &__error {
    font-size: 12px;
    color: var(--color-error);
  }

  &__dropdown {
    position: absolute;
    z-index: 10;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 7px;
    background-color: var(--color-white);

    &-btn {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 16px 10px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        background-color: rgba(160, 195, 255, 0.1);
      }
    }

  }

  &__btn {
    justify-self: start;
    grid-area: 3/2;
  }
}

.currency {
  display: flex;
  line-height: 1;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__name {
    display: flex;
    width: 100%;
    font-weight: 600;

    &::after {
      content: '';
      display: block;
      flex-grow: 1;
      margin: 0 10px;
      margin-bottom: 4px;
      border-bottom: 1px dashed black;
    }
  }

  &__list {
    max-height: 920px;
    overflow-y: auto;
  }

  &.strim {
    align-items: center;


    &::after {
      content: '';
      margin-left: 15px;
      border-style: solid;
      width: 0;
      height: 0;
    }

    &.up {
      &::after {
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent var(--color-success) transparent;
      }

      .currency__name {
        &::after {
          border-color: var(--color-success);
        }
      }
    }

    &.no-change {
      .currency__name {
        &::after {
          border-color: black;
        }
      }

    }

    &.down {
      &::after {
        border-width: 10px 10px 0 10px;
        border-color: var(--color-second4) transparent transparent transparent;
      }

      .currency__name {
        &::after {
          border-color: var(--color-second4);
        }
      }

    }
  }
}


.currencies {
  $pad: 50px;
  display: grid;
  grid-template-columns: 45fr 55fr;
  gap: 44px 49px;
  font-family: var(--font-work);
  font-size: 20px;
  color: var(--color-black);

  &__title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: inherit;
  }

  &__block {
    border-radius: 50px;
    padding: $pad;
    background-color: var(--color-white);
    box-shadow: var(--shadow);


    &_grey {
      background-color: #e5e5e5;
      box-shadow: none;
    }
  }

  &__strim {
    grid-row: span 2;
  }

  .your {

    &.skeleton {
      $height: 23px;
      $gap: 25px;
      $width: calc(100% - $pad * 2);
      $offset: calc($height + $gap);
      height: 411px;
      @include animateSkeleton();

      background-repeat: no-repeat;
      background-image:
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0),
        linear-gradient(var(--color-grey5) $height, transparent 0);
      background-size:
        165px $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height,
        $width $height;
      background-position:
        $pad $pad,
        $pad calc($pad + $offset * 1),
        $pad calc($pad + $offset * 2),
        $pad calc($pad + $offset * 3),
        $pad calc($pad + $offset * 4),
        $pad calc($pad + $offset * 5),
        $pad calc($pad + $offset * 6);
    }
  }
}


.exchange {
  &__field {
    padding: 0;
    border: none;
  }

  &__group {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 8fr 2fr;
    gap: 25px;
    font-family: var(--font-ubuntu);
    font-size: 16px;
    font-weight: 500;
  }

  &__selects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;

    &_from,
    &_to {
      display: flex;
      align-items: center;
      flex-grow: 1;
      gap: inherit;
    }
  }

  .amount {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__select {
    flex-grow: 1;
    border-radius: 7px;
    border: 1px solid var(--color-grey5);
    padding: 10px 15px;
  }

  &__submit {
    grid-row: span 2;
    padding-left: 13px;
    padding-right: 13px;
  }

  &.skeleton {
    $height: 44px;
    $gap: 25px;
    $pad: 50px;
    $lh: 23px;
    height: 256px;
    @include animateSkeleton();

    background-repeat: no-repeat;
    background-image:
      linear-gradient(var(--color-grey5) $lh, transparent 0),
      linear-gradient(var(--color-grey5) $height, transparent 0),
      linear-gradient(var(--color-grey5) $height, transparent 0),
      linear-gradient(var(--color-grey5) calc(100%), transparent 0);
    background-size:
      165px $lh,
      calc(78% - $pad * 2 - $gap) $height,
      calc(78% - $pad * 2 - $gap) $height,
      104px calc(100% - ($pad * 2 + $lh + $gap));
    background-position:
      $pad $pad,
      $pad calc($pad + $lh + $gap),
      $pad calc(100% - $pad),
      calc(100% - $pad) calc(100% - $pad);
  }
}
