@import 'variables.scss';
@import 'mixin.scss';
@import 'button.scss';
@import 'input.scss';
@import 'login.scss';
@import 'custom-select.scss';
@import 'card.scss';
@import 'account-top.scss';
@import 'account.scss';
@import 'form-transfer.scss';
@import 'currency.scss';
@import 'currencies.scss';
@import 'exchange.scss';
@import 'history.scss';
@import 'bar-chart.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-ubuntu);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: var(--container-width);

  @media (min-width: 576px) {
    padding: 0 50px;
  }
}

.main-title {
  margin: 0;
  font-family: var(--font-work);
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: var(--color-black);
}

.subtitle {
  font-family: var(--font-work);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.main {
  padding: 44px 0;
}

.content-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 70px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.bg-grey,
.bg-white {
  border-radius: 50px;
}

.bg-grey,
.bg-white {
  background-color: var(--color-grey7);
}

.bg-white {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}


